<script>
    var tt_cancel_destination = "/";
</script>
<h1>Editing user</h1>
<%= javascript_include_tag  "cancel_to_user_menu"%>
<% form_tag :action => 'change_password', :id => session[:user_id] do %>
    <p><label for="user_plain_password">Password</label><br/>
      <%= password_field 'user', 'plain_password', :xhelpText => 'Password', :minlength => 6 ,:textCase =>"lower", :validationRule => "\\w{4}\\w*", :validationMessage => "Password less than six characters" %></p>

    <p><label for="user_confirm_password">Re-enter Password</label><br/>
      <%= password_field 'user_confirm', 'password', :xhelpText => 'Password',:textCase =>"lower",:validationRule =>"\\w{4}\\w*", :validationMessage =>"Password less than FOUR characters." %></p>
      <%= hidden_field_tag("user_id",@user_id ) %>
<% end %>
