<script>
    var tt_cancel_destination = "/";
</script>
<h1>Editing user</h1>
<%= javascript_include_tag  "cancel_to_user_menu"%>
<% form_tag :action => 'change_username', :id => session[:user_id] do %>
    <p><label for="user_username">Username</label><br/>
      <%= text_field 'user', 'username', :textCase => "lower",:value => @user_name,:tt_onload =>"$('touchscreenInput5').value = ($('user_first_name').value.substring(0,3)+$('user_last_name').value.substring(0,3)).toLowerCase()" ,:validationRule =>"\\w{6}\\w*" ,:validationMessage => "Username must have at least SIX letters", :textCase => "lower" %></p>
    <%= hidden_field_tag("user_id",@user_id ) %>
<% end %>
