<script>
    var tt_cancel_destination = "/";
</script>
<h1>Editing user</h1>
<%= javascript_include_tag  "cancel_to_user_menu"%>
<% form_tag :action => 'change_user_role', :id => session[:user_id] do %>
    <%= select_tag :role, options_for_select(@roles),
                   { :id => 'role',
                     :field_type => 'alpha',
                     :helpText => 'User Role'} %>
    <%= hidden_field_tag("user_id",@user_id ) %>
<% end %>
